@media (min-width: 1000px) {
  :root {
    --header-bottom-info-pd: 15px;
  }
  .header__top-info > div:last-child {
    min-width: auto;
  }
  .dropdown-wrapper__top-nav {
    flex-direction: row;
    position: relative;
  }
  .dropdown-wrapper__top-nav .dropdown-menu {
    top: 0;
    padding: 0px;
    position: relative;
    border: none;
  }
  .header__top-info__ul > li,
  .header__top-info__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .haeder-top-link {
    width: 100%;
    padding: 0;
  }
  #top-nav-contacts .button-dropdown {
    display: none;
  }
  #top-nav-contacts .seperator {
    width: 3px;
    height: 32px;
  }
  .header-logo {
    width: 190px;
    content: url(/svg/logo.svg);
    height: auto;
  }
  .header__bottom-info__header-item {
    flex-direction: row;
  }
  .button__search {
    width: 60px;
    height: 60px;
  }
  .header-cart-button {
    height: 60px;
  }
  .header-cart-button .cart_cart-couter {
    top: -6px;
    right: -6px;
  }
  .dropdown__bottom-info .button-dropdown {
    display: none;
  }
  #right-menu {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    padding: 0;
  }
  .header__bottom-info__ul {
    flex-direction: row;
    gap: 30px;
  }
  #right-menu .header-logo {
    display: none;
  }
  .dropdown__button--close {
    display: none;
  }
  #basket_img {
    width: 866px;
    --h: 574px;
  }
  h1 {
    font-size: 60px;
  }
  .section__container__text {
    max-width: 540px;
    top: 80px;
  }
  .cta-button {
    max-width: 340px;
  }
  #benefits .seperator {
    display: block;
    width: 2px;
    height: 100%;
    position: relative;
  }
}
