#benefits {
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#benefits .seperator {
  display: none;
}
.benefits--wrapper {
  /* max-width: 1100px; */
  gap: 26px;
  border: solid 2px var(--bg-red);
  border-radius: 25px;
  outline: 5px solid white;
  background-color: white;
}
.benefits--list {
  min-height: 111px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 20px 35px;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 26px;
}
.benefits--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}
.benefits--item--wrapper,
.benefits--item__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 28px;
}
.benefits--item__icon {
  width: 72px;
  height: 72px;
  background: linear-gradient(236.89deg, #d8144f 21.1%, #ff7a00 82.48%);
}
.benefits--item__content {
  font-family: 'Rubik';
}
.benefits--item__icon-premium::before {
  content: url('svg/benefits/premium_fruit.svg');
}
.benefits--item__icon-strict::before {
  content: url('svg/benefits/strict.svg');
}
.benefits--item__icon-best::before {
  content: url('svg/benefits/best.svg');
}
.benefits--item__icon-made::before {
  content: url('svg/benefits/made.svg');
}
