.button {
  --cart-icon-color: white;
  --transition: background-color 100ms ease-in-out;
  padding: 0;
  display: flex;
  font-family: 'Varela Round';
  cursor: pointer;
  background-color: var(--bg-red);
  color: white;
  box-sizing: border-box;
  border: 2px solid rgba(219, 30, 70, 1);
  transition: var(--transition);
  text-align: center;
  text-decoration: none;
}
.button--lg {
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 24px 50px;
  border-radius: 80px;
  color: var(--font-red);
}
.button--md {
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0%;
  padding: 21px 65px;
  border-radius: 50px;
  gap: 8px;
}
.cta-button {
  border: 4px solid var(--btn-bg-hover);
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  position: relative;
  background-color: var(--btn-bg-hover);
  box-shadow: 0px 29px 10px -20px rgba(255, 205, 49, 0.35);
}
.cta-button:hover {
  color: white;
  background-color: transparent;
}
.cta-button:hover::after {
  opacity: 0.3;
}
.cta-button::after {
  transition: var(--transition);
  content: url('data:image/svg+xml,<svg width="299" height="80" viewBox="0 0 299 80" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M74.5 55C56.5 55 27.5 51.5 0 80L258.5 80C280.591 80 298.5 62.0914 298.5 40C298.5 17.9086 280.591 0 258.5 0H237.5C206.5 -5.87106e-06 207 29 159.5 29C117 29 132.5 55 74.5 55Z" fill="url(%23paint0_linear_1_1644)"/><defs><linearGradient id="paint0_linear_1_1644" x1="121.5" y1="60" x2="108.5" y2="18" gradientUnits="userSpaceOnUse"><stop stop-color="%23FBC400"/><stop offset="1" stop-color="white" stop-opacity="0"/></linearGradient></defs></svg>');
  width: 100%;
  position: absolute;
  bottom: -8px;
  z-index: 0;
  pointer-events: none;
  transition: 150ms ease-in-out;
}
.cta-button--text {
  transition: var(--transition);
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}
.button--sm {
  border-radius: 12px;
  font-family: Rubik;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0%;
}

.button--toggle {
  --transition: all 150ms ease-in-out;
  --active-color: white;

  background-color: transparent;
  font-size: 11px;
  position: relative;
  padding: 8px 7px 7px 11px;
  display: flex;
  flex-direction: row;
  gap: 11px;
  border: 1px inset rgba(219, 30, 70, 1);
}
.button--toggle > span {
  transition: var(--transition);
}
.button--toggle > span:first-child {
  color: var(--left);
}
.button--toggle > span:last-child {
  color: var(--right);
}
.button--toggle::before {
  transition: var(--transition);
  z-index: -1;
  content: '';
  position: absolute;
  top: 3px;
  background-color: var(--bg-red);
  left: 3px;
  height: 22px;
  width: 30px;
  border-radius: 9px;
}
.button--toggle__left {
  --left: var(--active-color);
  --right: var(--dark-coral);
}
.button--toggle__left::before {
  left: calc(0% + 3px);
}
.button--toggle__right {
  --left: var(--dark-coral);
  --right: var(--active-color);
}
.button--toggle__right::before {
  left: calc(100% - 30px - 3px);
}
.button--call--me {
  padding: 6px 17px;
  display: flex;
}
.button--active:active path {
  stroke: var(--bg-red);
}
.button--active:hover path {
  stroke: var(--bg-red);
}
.button--active:active,
.button--active:hover {
  color: var(--bg-red);
  --cart-icon-color: var(--bg-red);
  background-color: transparent;
}
.svg-cart-wrapper path {
  fill: var(--cart-icon-color, white);
}
.button--transparent {
  background-color: transparent;
  color: black;
  border-color: transparent;
}

.button--transparent--active:active {
  color: white;
  background-color: var(--bg-red);
  border-color: var(--bg-red);
}
.button--transparent--active:active path {
  fill: white;
}
.button--transparent--active:hover {
  border-color: var(--bg-red);
}
.header-cart-button {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 50px;
  position: relative;
  font-size: 14px;
}

.header-cart-button {
  --cart-icon-size: 21px;
}
.header-cart-button .cart_cart-couter {
  position: absolute;
  z-index: 1;
  top: -12px;
  right: -6px;
  border-radius: 20px;
  padding: 0px 4px;
  min-width: 22px;
  height: 22px;
  box-sizing: border-box;
  background-color: white;
  border: solid 1px var(--bg-red);
  outline: solid 3px white;
  color: var(--bg-red);
  font-size: 11px;
  font-family: 'Varela Round';
  display: flex;
  align-items: center;
  justify-content: center;
}
#cards > .button {
  background-color: rgba(219, 30, 70, 0.1);
  color: var(--bg-red);
}
#cards > .button path {
  stroke: var(--bg-red);
}
#cards > .button:hover {
  background-color: var(--bg-red);
  color: white;
}
#cards > .button:hover path {
  stroke: white;
}
