.header__container {
  height: 100%;
}
.header {
  display: flex;
  width: 100%;
  /* height: 106px; */
  position: fixed;
  top: 0;
  flex-direction: column;
  background-color: white;
  z-index: 20000;
}
.header--scrolled {
  box-shadow: 0px 34px 80px 0px rgba(0, 0, 0, 0.1);
}
.header__top-info--wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.07);
}
.header__top-info,
.header__bottom-info {
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.header__bottom-info {
  padding-bottom: var(--header-bottom-info-pd);
  padding-top: var(--header-bottom-info-pd);
}
.header__top-info {
  height: 44px;
}
.header__top-info > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.seperator {
  opacity: 0.1;
  background-color: var(--bg-red);
  border-radius: 2px;
  width: 100%;
  height: 3px;
}
.header__top-info__ul {
  display: flex;
  --gap: 24px;
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: var(--gap);
}
.header__top-info__ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}
.header-logo {
  width: 40px;
  content: url('/svg/favicon.svg');
  height: auto;
}

.header__bottom-info__header-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
}
.header__bottom-info__ul {
  padding: 0;
  margin: 0;
  margin-right: 29px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
