.search-wrapper {
  position: relative;
  z-index: 9999;
}
/* .search-form {
  display: none;
  background-color: white;
  border: 1px solid var(--bg-red);
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  flex-direction: row;
  width: 40px;
  box-sizing: border-box;
  padding: 0 0 0 var(--pd-container-x);
  transition: width 250ms ease-in-out;
  animation: closeSearch 250ms ease-in-out forwards;
  overflow: hidden;
  height: 100%;
}
@keyframes closeSearch {
  from {
    z-index: 2;
    width: calc(100vw - var(--pd-container-x) * 2);
  }
  to {
    z-index: -1;
    width: 40px;
  }
}

.header__search-wrapper {
  display: flex;
  flex-direction: row;
}

.button__search:active {
  background-color: var(--bg-red);
}
.button__search:active path {
  fill: white;
}

.search-wrapper--open .search-form {
  z-index: 2;
  animation: openSearch 250ms ease-in-out forwards;
}
@keyframes openSearch {
  0% {
    z-index: -1;
    width: 40px;
    gap: 0;
  }
  10% {
  }
  20% {
    gap: 8px;
  }
  100% {
    width: calc(100vw - var(--pd-container-x) * 2);
  }
}



.search-wrapper--open .search-form {
  width: 100vw;
}
.search-input {
  padding: 0;
  width: 100%;
  border: none;
} */

.button__search {
  border: 1px solid var(--bg-red);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
}
.button__search:hover {
  background-color: var(--bg-red);
}
.button__search:hover path {
  fill: white;
}
